
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.content {
  width: 420px;
  text-align: left;

  background: #1e1e1e;
  padding: 25px;
  border-radius: 12px;

  box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
}

.inner-loader {
  text-align: center;
  font-size: 22px;
  padding: 50px 0;
}

ul {
  padding-left: 20px;
}
